.gallery {
  padding-top: 90px;
  display: flex;
  flex-wrap: wrap;

  margin-top: -30px;
  margin-left: -30px;
}

.photo-card {
  width: 100%;
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid grey;
  text-decoration: none;
  color: #000;
  box-shadow: 0 0 3px 3px rgba(89, 45, 201, 0.7),
    inset 0 0 15px rgba(84, 45, 201, 0.7);
}

.photo-card img {
  padding: 10px;
  width: 100%;
}

.info {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
}

.info-item {
  display: flex;
  text-align: center;
}
